<h5><%= I18n.t('clocks.info.title') %></h5>
<table>
  <tr>
    <td><%= I18n.t('clocks.info.buyin') %></td>
    <td><span id="buyin" /> &rarr; <span id="buyin_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.rebuy') %></td>
    <td><span id="rebuy" /> &rarr; <span id="rebuy_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.addon') %></td>
    <td><span id="addon" /> &rarr; <span id="addon_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.average') %></td>
    <td><span id="average_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.total') %></td>
    <td><span id="total_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.bank') %></td>
    <td><span id="bank" /></td>
  </tr>
</table>
