<p><%= I18n.t('clocks.info.buyin') %>: <span id="buyin" /> &rarr; <span id="buyin_chips" /></p>
<p><%= I18n.t('clocks.info.rebuy') %>: <span id="rebuy" /> &rarr; <span id="rebuy_chips" /></p>
<p><%= I18n.t('clocks.info.addon') %>: <span id="addon" /> &rarr; <span id="addon_chips" /></p>
<p><%= I18n.t('clocks.info.average') %>: <span id="average_chips" /></p>
<p><%= I18n.t('clocks.info.total') %>: <span id="total_chips" /></p>
<p><%= I18n.t('clocks.info.bank') %>: <span id="bank" /></p>
