<h4><%= I18n.t('clocks.info.title') %></h4>
<table class="table form-inline">
  <tr>
    <td><%= I18n.t('clocks.info.buyin') %></td>
    <td>
      <span id="buyin_money" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
      &rarr;
      <span id="buyin_chips" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
    </td>
  </tr>
  <tr class="rebuys">
    <td class="hoverable">
      <span class="hoverhighlight"><%= I18n.t('clocks.info.rebuy') %></span>
      <a href="#" class="hovervisible action remove_rebuys" title="<%= I18n.t('clocks.info.remove_rebuys.title') %>">×</a>
    </td>
    <td>
      <span id="rebuy_money" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
      &rarr;
      <span id="rebuy_chips" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
    </td>
  </tr>
  <tr class="no-rebuys">
    <td class="hoverable">
      <span class="hoverhighlight"><%= I18n.t('clocks.info.rebuy') %></span>
      <a href="#" class="hovervisible action add_rebuys" title="<%= I18n.t('clocks.info.add_rebuys.title') %>">+</a>
    </td>
    <td>&mdash;</td>
  </tr>
  <tr class="addon">
    <td class="hoverable">
      <span class="hoverhighlight"><%= I18n.t('clocks.info.addon') %></span>
      <a href="#" class="hovervisible action remove_addon" title="<%= I18n.t('clocks.info.remove_addon.title') %>">×</a>
    </td>
    <td>
      <span id="addon_money" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
      &rarr;
      <span id="addon_chips" class="hoverable">
        <span class="hoverhighlight" />
        <a class="hovervisible action change"><%= I18n.t('clocks.info.change') %></a>
      </span>
      <input type="number" min="0" />
    </td>
  </tr>
  <tr class="no-addon">
    <td class="hoverable">
      <span class="hoverhighlight"><%= I18n.t('clocks.info.addon') %></span>
      <a href="#" class="hovervisible action add_addon" title="<%= I18n.t('clocks.info.add_addon.title') %>">+</a>
    </td>
    <td>&mdash;</td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.average') %></td>
    <td><span id="average_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.total') %></td>
    <td><span id="total_chips" /></td>
  </tr>
  <tr>
    <td><%= I18n.t('clocks.info.bank') %></td>
    <td><span id="bank" /></td>
  </tr>
</table>
