<span class="display">
  <span class="blinds" title="<%= I18n.t('clocks.levels.blinds_hint') %>"><span class="small"><%= small %></span> / <span class="big"><%= big %></span></span>
</span>
<span class="edit">
  <input type="text" value="<%= small %> / <%= big %>"/>
</span>
<a href="#" class="hoverable remove"><%= I18n.t('clocks.levels.remove') %></a>
<a href="#" class="hoverable apply"><%= I18n.t('clocks.levels.apply') %></a>
