<span class="display hoverable" title="<%= formula %>">
  <span class="hoverhighlight amount">
    <%= value %>
  </span>
  <ul class="hovervisible actions">
    <li><a href="#" class="change"><%= I18n.t('clocks.payouts.change') %></a></li>
    <li><a href="#" class="remove"><%= I18n.t('clocks.payouts.remove') %></a></li>
    <li><a href="#" class="up" title="<%= I18n.t('clocks.payouts.up_hint') %>">[&uarr;]</a> <a href="#" class="down" title="<%= I18n.t('clocks.payouts.down_hint') %>">[&darr;]</a></li>
  </ul>
</span>
<% if(percentage) { %>
  <span>(<%= formula %>)</span>
<% } %>
<input type="text" value="<%= formula %>" />
